@import url("https://fonts.googleapis.com/css2?family=Economica&family=Open+Sans:wght@300;400&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  background: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0;
}

/* общий блок */

.general__wrapper {
  margin-top: 13px;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mainwindow__wrapper {
  width: 932px;
  height: 1400px;
  /* background-color: #f9f9f9; */
}

/* Хэадер . Логотип + навигация */

.header {
  display: flex;
  position: relative;
  margin-top: 27px;
}

.logo__wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 170px;
  height: 50px;
}

.logo {
  padding-left: 8px;
  width: 170px;
  height: 50px;
}

.logo p {
  font-family: "Oleo Script", cursive;
  font-size: 40px;
  text-decoration: underline;
  line-height: 10px;
}

.logo h4 {
  font-size: 11px;
  margin-top: 20px;
  color: #999999;
}

.nav__wrapper {
  position: absolute;
  right: 2%;
  top: 0%;
  width: 540px;
  height: 34px;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  height: 34px;
}

.__mli4 {
  position: relative;
}

.listitem__link {
  text-decoration: none;
  padding: 20px 23px;
  font-size: 14px;
  color: #959595;
  font-family: "Oxygen", sans-serif;
}

.extend__listitem {
  background-color: #ffbd45;

  border: 1px solid #efaf3f;
  border-radius: 5px;
  height: 27px;
  line-height: 23px;
}

.extend__link {
  color: #fff;
}

.listitem__link:hover {
  font-weight: bold;
}

.listitem__link:hover:last-child {
  font-weight: 400px;
}

/* Сабменю */

/* .nav__submenu__wrapper {
  position: absolute;
  top: 50px;
  left: -10px;
  width: 166px;
  height: 156px;
} */

.nav__submenu {
  width: 166px;
  height: 146px;
  flex-direction: column;
  font-size: 12px;
  margin-top: 3px;
  border: 1px solid #dddddd;
  color: #959595;
  position: absolute;
  display: none;
  opacity: 0;
  top: 25px;
  left: 15px;
  z-index: 10;
  background-color: white;
}

.submenu__listitem {
  margin: 3px 10px;
  padding: 5px 10px;
}

.submenu__listitem:first-child {
  margin-top: 10px;
}

.submenu__listitem p {
  font-size: 10px;
  color: #afafaf;
  margin-top: 3px;
  width: 110%;
}

.submenu__line {
  border: none;
  color: #e5e5e5;
  background-color: #e5e5e5;
  height: 1px;
  width: 85%;
  margin-left: 10px;
}

.submenu__listitem:hover {
  background: #f3f3f3;
  border-radius: 5px;
}

.nav__menu__listitem:hover .nav__submenu {
  display: flex;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

/* сабменю. Вырез в бордере сверху  */

.nav__submenu::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #f9f9f9;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  transform: rotateZ(45deg);
  top: -4px;
  left: 20px;
}

/* картинка + текст + кнопка */

.pictureAndText__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 932px;
  height: 250px;
  margin: 100px 0 0 50px;
  z-index: 1;
}

/* картинка */

.header__picture {
  position: relative;
  width: 300px;
  height: 200px;
  background: url(./pictures/spaider.png);
  z-index: 10;
  background-size: cover;
}

.header__picture__arrows {
  position: absolute;
  z-index: 2;
  width: 290px;
  height: 50px;
  background-image: url(./pictures/header\ arrow\ picture.png);
  opacity: 0.5;
  background-size: cover;
  bottom: 2%;
}

.header__picture__discription1 {
  position: absolute;
  left: 43px;
  top: 5px;
  color: #f6f6f6;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.header__picture__discription2 {
  color: #ffc14c;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}
.header__picture__discription3 {
  color: #4c4d4e;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.border__gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(#f6f6f6, #dfdfdf);
  border-width: 5px;
  box-shadow: 0px 25px 10px -24px #5e686d;
}

/* текст */

.picture__info {
  width: 435px;
  margin: 10px 0 0 100px;
}

.info__header {
  font-size: 38px;
  color: #515151;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: -25px;
}

.info__text {
  text-align: right;
  color: #797979;
  padding-right: 30px;
  font-size: 14px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5em;
}

.info__header__line {
  position: absolute;
  border: none;
  color: #e5e5e5;
  background-color: #e5e5e5;
  height: 1px;
  width: 55%;
  top: 115px;
  right: 70px;
}

/* кнопка */

.header__picture__info__button {
  position: absolute;
  width: 168px;
  height: 43px;
  border-radius: 3px;
  border: 1px solid #efb74c;
  background: #ffbd46;
  right: 75px;
  top: 125px;
  box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.99);
}

.header__picture__info__text1 {
  position: absolute;
  left: 7px;
  top: 5px;
  color: #fcf4e5;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
}

.header__picture__info__text2 {
  position: absolute;
  left: 10px;
  top: 25px;
  color: #d28600;
  font-family: "Oxygen", sans-serif;
  font-size: 10px;
}

.header__picture__info__arrow {
  position: absolute;
  width: 45px;
  height: 30px;
  right: 0;
  top: 5px;
  background-image: url(./pictures/header\ arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  border-left: 1px solid #ffc75e;
  box-shadow: -1px 0px 0px 0px #ffb43d;
}

/* начала первого блока боди */

.first__body__line {
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
  }

.firstpart__title {
  margin:30px 0;
  font-weight:lighter;
}

 

.firstpart__body__wrapper {
  border-top: 2px solid #e5e5e5;
  background: #f8f8f8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
  grid-auto-rows: minmax(150px, auto);
  
}

.firstpart__pictures__background {
  width: 298px;
  height: 200px;
  background-color: black;
  /* https://border-image.com/ */
}


.firstpart__pictures {
  width: 298px;
  height: 141px;
  background: green;
}

.b1pic1 {
  background: url(./pictures/body\ picture1.png);
  background-size: cover;
}

.b1pic2 {
  background: url(./pictures/body\ picture2.png);
  background-size: cover;
}

.b1pic3 {
  background: url(./pictures/body\ picture3.png);
  background-size: cover;
}


.firstpart__text {
  background: green;
  
}

.ft1 {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* начала второго блока боди */

.secondpart__title {
  margin:50px 0;
  font-weight:lighter;
}

.secondpart__body__wrapper {
  width:932px;
  height:236px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.secondpart__nav__wrapper {
 width: 930px;
 height: 43px;
 background-color: #fafafa;
 display: grid;
 grid-template-columns: 93px 93px 93px;
 border-radius: 50px 0 0 0;
 border-bottom: 1px solid #e5e5e5;
}

.secondpart__nav__menulist {
  text-align: center;
  line-height:40px;
  margin: 0 5px 0 5px;
  border-right:1px solid #e5e5e5;
  width: 93px;
  height: 43px;
  font-size: 11px;
  color:#cacaca;
  border-bottom: 1px solid #fff;
  background-color: green;
}

.secondpart__nav__menulist:first-child {
  border-left: none;
}

/* .nav__menulist__selected {
font-weight: bold;
border-bottom: none;
  } */